/* fonts import */

/* Md. Adnan Shafiq | WEB9-1011 */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* universal styles */

* {
    margin: 0;
    padding: 0;
    color: #070211;
}

.container {
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto 120px;
}

.red {
    color: #F00;
}

#special {
    border: 13px solid #F00;
    border-radius: 50%;
    padding: 30px;
    width: 364.844px;
    height: 364.844px;
}

/* header styles */

.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    margin-top: 50px;
    border-radius: 16px;
    border: 0;
}

.banner-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 32px;
    font-weight: 400;
}

.banner-slogan {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    width: 632px;

}

/* Md. Adnan Shafiq | WEB9-1011 */

/* offer styles */

.offer {
    width: 51%;
    max-width: 803px;
    margin: 0 auto 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.offer-title {
    text-align: center;
    font-family: 'Inter';
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.offer-value {
    text-align: center;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
}

.offer-categories {
    text-align: center;
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.offer-art {
    width: 100%;
    height: 500px;
}

/* invite styles */

.invite-bg {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    border-radius: 16px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.invite-title {
    width: 642px;
    color: #FFF;
    font-family: 'Merriweather';
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.invite-text {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.invite-btn {
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    background-color: #ffffff00;
    border: 0;
    padding: 48px 32px;
}

/* place styles */

.place {
    width: 100%;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border: 0;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.place-bg {
    display: flex;
    flex-direction: column;
}

.place-add {
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
}

.place-btn {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    margin: 48px auto;
    padding: 14px 32px;
    border-radius: 8px;
    border: 0;
    background: #F00;
    color: #FFF;
}

/* Md. Adnan Shafiq | WEB9-1011 */
/* soon styles */

.soon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.soon-start-title {
    text-align: left;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
}

.soon-start-sub {
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.soon-start-text {
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.soon-img {
    width: 100%;
}

.soon-end-title {
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 700;
}

.soon-end-text {
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.soon-end-img {
    width: 140px;
    height: 140px;
    margin-top: 40px;
}


/* sale styles */

.sale-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sale-title {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
}

.sale-sub {
    font-family: 'Merriweather';
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
}

.sale-text {
    width: 66.5%;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 69px;
}

.sale-img {
    position: relative;
    width: 100%;
    height: 662px;
}

/* party-box */
/* Had to take screenshot and crop. given image is different than the template.
If you are reading this, can you please tell me how to download all assets at once from a figma template
Md. Adnan Shafiq | WEB9-1011 */
.sale-img-1 {
    position: absolute;
    z-index: 10;
    left: 0px;
    bottom: 18px;
}


/* 50% */
.sale-img-2 {
    position: absolute;
    top: 86px;
    right: 286px;
    z-index: 10;
}


/* girl */
.sale-img-3 {
    position: absolute;
    top: 0;
    right: 0;
}

/* bar */
.sale-img-4 {
    position: absolute;
    bottom: 0;
}

/* gift styles */

.gift-info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.gift-title {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.gift-sub {
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.gift-text {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 70%;
    margin-bottom: 48px;
}

.gift-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.gift-grid>* {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.gift-grid img {
    border: 0;
    border-radius: 5%;
    width: 100%;
    height: 100%;
}

/* newsletter styles */

.newsletter {
    width: 100%;
    height: 616px;
    background: rgba(255, 0, 0, 0.05);
    border: 0;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.newsletter-logo {
    width: 150px;
    height: 150px;
    margin: auto auto 40px auto;
}

.newsletter-title {
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.newsletter-text {
    width: 68%;
    color: rgba(7, 2, 17, 0.60);
    margin: auto auto 48px auto;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.newsletter form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;

}

.newsletter form .newsletter-input {
    border-radius: 50px 0 0 50px;
    border: 0;
    background: #FFF;
    width: 71%;
    height: 65px;
    color: rgba(7, 2, 17, 0.30);
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    padding-left: 30px;
}

.newsletter form .newsletter-btn {
    width: 28%;
    height: 65px;
    border-radius: 0px 50px 50px 0px;
    border: 0;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    margin-left: -5px;
}

/* footer styles */

footer {
    width: 100%;
    background: #070211;
    color: #FFF;
}

#footfull {
    margin-bottom: 0;
}

/* Md. Adnan Shafiq | WEB9-1011 */